:root {
  --green: 190, 98, 31;
  --pink: 254, 111, 97;
  --red: 163, 39, 89;
  --yellow: 214, 215, 24;
  --dark-gray: 25, 25, 25;
}

html,
body {
  margin: 0;
  background-color: rgb(var(--red));
}

body {
  font-family: 'Baloo Da 2', cursive;
  overflow-x: hidden;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(var(--dark-gray), 0.8);

  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(var(--dark-gray), 0.8);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(var(--dark-gray), 0.8);
}
