:root {
  --blue: 39, 164, 221;
  --green: 157, 213, 192;
  --pink: 243, 156, 195;
  --red: 241, 100, 108;
  --yellow: 250, 193, 116;
  --dark-gray: 25, 25, 25;
}

html,
body {
  margin: 0;
  background-color: rgb(var(--red));
}

body {
  font-family: 'Baloo Da 2', cursive;
  overflow-x: hidden;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(var(--dark-gray), 0.8);

  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(var(--dark-gray), 0.8);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(var(--dark-gray), 0.8);
}
