.green-row {
  background: rgb(var(--blue), 0.4);
}

.reg-row {
  background: rgb(var(--pink), 0.4);
}

.dollar {
  display: inline-block;
  position: relative;
}

.dollar input {
  padding-left: 15px;
}

.dollar:before {
  position: absolute;
  content: '$';
  left: 5px;
  top: 2px;
}

.bill-item {
  font-size: 30px;
  background: transparent;
  border: none;
  display: inline-block;
}

#table-delete-button {
  background: rgba(var(--red), 0.7);
}

#table-update-button {
  background: rgba(var(--yellow), 0.7);
}

#table-delete-button:hover {
  background: rgba(var(--red), 1);
  color: white;
}

#table-update-button:hover {
  background: rgba(var(--yellow), 1);
  color: white;
}

#table-revert-button {
  background: rgba(85, 26, 139, 0.5);
  padding: 5px 5.5px 3px 5.5px;
  margin-left: 5px;
}

#table-revert-button:hover {
  background: rgba(85, 26, 139, 1);
  color: white;
}
