#login-wrapper {
  padding: 200px 200px 200px;
  position: relative;
}

#login-header {
  font-size: 100px;
  color: rgba(var(--dark-gray), 0.9);
  padding: 40px 0px;
  line-height: 1;
}

#login-subheader {
  color: white;
  font-size: 50px;
}

.login-field {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid rgba(var(--dark-gray), 0.8);
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: rgb(var(--dark-gray));
}

.login-field + .login-field {
  margin-left: 50px;
}

.register-login-button {
  font-size: 30px;
  background: rgba(var(--green), 0.7);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  margin-left: 30px;
}

.register-login-button:hover {
  background: rgba(var(--green), 1);
  cursor: pointer;
}

.register-login-switch {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  display: table;
}

.register-login-switch:hover {
  cursor: pointer;
  transform: scale(1.1);
}
