#login-wrapper {
  padding: 200px 200px 200px;
  position: relative;
}

#login-header {
  font-size: 100px;
  color: rgba(255, 255, 255, 1);
  padding: 15px 10px 3px 10px;
  line-height: 1;
  background: rgba(var(--yellow), 0.3);
  display: table;
  border-radius: 5px;
  margin-left: -10px;
}

#login-subheader {
  color: rgba(var(--dark-white));
  font-size: 50px;
}

#login-error {
  background: rgba(247, 23, 23, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  display: table;
}
.login-field {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid rgba(var(--yellow), 0.5);
  background: transparent;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: rgb(var(--yellow));
  transition-duration: 0.5s;
}

.login-field:valid {
  border-bottom: 5px solid rgba(var(--yellow), 1);
}

.login-field:focus {
  border-bottom: 5px solid rgba(var(--yellow), 1);
}

.login-field + .login-field {
  margin-left: 50px;
}

#register-login-button {
  font-size: 30px;
  background: rgba(var(--pink), 0.5);
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  margin-left: 30px;
  transition-duration: 0.3s;
  color: rgb(212, 212, 212);
}

#register-login-button:hover {
  background: transparent;
  cursor: pointer;
  color: white;
  transform: scale(1.05);
}

#register-login-switch {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  display: table;
  transition-duration: 0.3s;
  color: rgb(194, 194, 194);
}

#register-login-switch:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: white;
}

@media only screen and (max-width: 600px) {
  #login-header {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  #login-wrapper {
    padding: 0px 0px 0px 0px;
    display: table;
    margin: auto;
  }
  #login-header {
    border-radius: 0px;
    margin-top: 200px;
    margin-left: 0px;
  }

  #login-subheader {
    font-size: 35px;
    margin-top: 40px;
    display: table;
  }

  .login-field {
    display: table;
    margin-top: 10px;
  }

  .login-field + .login-field {
    margin-left: 0px;
    margin-top: 20px;
  }

  #register-login-button {
    margin-top: 20px;
    margin-left: 0px;
  }

  #register-login-switch {
    font-size: 23px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
