#instructions {
  text-align: center;
  color: rgb(var(--dark-gray));
  font-size: 35px;
  font-weight: bold;
  padding-top: 35px;
}

#bill-table {
  margin-top: 5px;
  border-collapse: collapse;
  border: 2px rgba(255, 255, 255, 0.5) solid;
}

#table-header-row {
  font-size: 40px;
  text-align: left;
  background: rgba(var(--yellow), 0.6);
  border-radius: 10px;
}

th {
  padding: 10px 20px;
}

td {
  width: 220px;
  font-size: 30px;
  padding: 5px;
  border: none;
  padding: 10px 20px;
}

#new-bill-row {
  background: rgba(255, 255, 255, 0.5);
}

#table-delete-column {
  text-align: center;
}

.centered {
  text-align: center;
}

.new-bill-field {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid rgba(var(--dark-gray), 0.9);
  background: transparent;
  font-size: 20px;
  font-weight: bold;
}

.table-button {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  transition-duration: 0.5s;
}

.table-button:hover {
  cursor: pointer;
}

#add-bill-button {
  background: rgba(var(--green), 0.7);
}

#add-bill-button:hover {
  background: rgba(var(--green), 1);
  color: white;
}
