#bill-table {
  margin-top: 20px;
  border-collapse: collapse;
}

#table-header-row {
  font-size: 40px;
  text-align: left;
  background: rgba(var(--yellow), 1);
  border-radius: 10px;
}

th {
  padding: 10px 20px;
}

td {
  width: 220px;
  font-size: 30px;
  padding: 5px;
  border: none;
  padding: 10px 20px;
}

#table-delete-column {
  text-align: center;
}

.centered {
  text-align: center;
}

.green-row {
  background: rgb(var(--blue), 0.4);
}

.reg-row {
  background: rgb(var(--pink), 0.4);
}

.table-button {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  transition-duration: 0.3s;
}

#table-delete-button {
  background: rgba(var(--red), 0.7);
}

#table-delete-button:hover {
  background: rgba(var(--red), 1);
  cursor: pointer;
}

.new-bill-field {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid rgba(var(--dark-gray), 0.9);
  background: transparent;
  font-size: 20px;
  font-weight: bold;
}

#add-bill-button {
  background: rgba(var(--green), 0.7);
}

#add-bill-button:hover {
  background: rgba(var(--green), 1);
  cursor: pointer;
}
