#navbar-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 10px 10px;
}

.navbar-item {
  display: inline-block;
  color: white;
}

#navbar-left-display {
  flex: 1;
}

#navbar-center-display {
  flex: 1;
  text-align: center;
}
#navbar-right-display {
  flex: 1;
  text-align: right;
}

#navbar-title {
  font-size: 35px;
  font-weight: bold;
  background: rgba(var(--yellow), 0.2);
  display: table;
  margin: 0px auto;
  padding: 0px 10px;
  border-radius: 5px;
}

#logged-in-display {
  margin-top: 9px;
  font-size: 25px;
}

#logout-button {
  padding: 0px 10px;
  font-size: 25px;
  background: rgba(95, 95, 95, 0.6);
  display: table;
  margin: 9px 0px 0px auto;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.3s;
}
#logout-button:hover {
  background: rgb(163, 163, 163);
}

#logout-text {
  text-decoration: none;
  color: rgba(206, 206, 206, 0.664);
}

#logout-button:hover #logout-text {
  color: black;
}

@media only screen and (max-width: 600px) {
  #navbar-title {
    font-size: 25px;
    margin: 0;
  }

  #logged-in-display {
    display: none;
  }

  #navbar-left-display {
    flex: 0;
  }

  #navbar-center-display {
    text-align: left;
  }

  #logout-button {
    margin-right: 0px;
    margin-top: 5px;
    font-size: 20px;
  }
}
