#navbar-wrapper {
  position: relative;
  display: flex;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.767);
}

.navbar-item {
  display: inline-block;
  color: white;
}

#navbar-left-display {
  flex: 1;
  margin-left: 20px;
}

#navbar-center-display {
  flex: 1;
  text-align: center;
}
#navbar-right-display {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

#navbar-title {
  font-size: 35px;
  font-weight: bold;
}

#logged-in-display {
  margin-top: 9px;
  font-size: 25px;
}

#logout-button {
  margin-top: 9px;
  padding: 0px 10px;
  font-size: 25px;
  background: rgba(95, 95, 95, 0.6);
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0.3s;
}
#logout-button:hover {
  background: rgb(163, 163, 163);
}

#logout-text {
  text-decoration: none;
  color: rgba(206, 206, 206, 0.664);
}

#logout-button:hover #logout-text {
  color: black;
}
